
.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.navbar-brand{
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.457);
}

.navbar-expand-lg .navbar-nav .navl-link {
    padding: 10px 25px;
    font-weight: bold;
}

.nav-link {
    background: #4d515448;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.539);
    transition: 0.4s ease;
    width: 150px;
    text-align: center;
    
}

.navbar .nav-item .btn {
    color: #FFF;
    background-color: #F03E3E;
    border-radius: 0;
    transition: 0.4s ease;
}
.navbar .nav-item .btn:hover{
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E; 
}
.nav-link .btn.btn-primary, .list-group-item a{
    transition: 0.4s ease;
}

.nav-link .btn.btn-primary, .list-group-item a:hover {
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E;
}


.new-job-label {
    background-color: #ffd500;
    color: #4d5154;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    display: none;
}

.new-job .new-job-label {
    display: block;
}

.btn-primary{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.539);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.539);
}